.head {
    display:flex;
    justify-content: center;
    align-items: center;
}

.body {
    width: 100%;
    height: 100%;    
    display:flex;
    justify-content: center;
    align-items: center;
}
.divClass{
    background-image: url(./fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divclass h1{
    color: goldenrod;
    display:flex;
    justify-content: center;
    align-items: center;
}

.divclass h2{
    display:flex;
    justify-content: center;
    align-items: center;
}

.divclass h3{
    display:flex;
    justify-content: center;
    align-items: center;
}

.divClass #spanId{
    font-size: 18x;
    display:flex;
    justify-content: center;
    align-items: center;
}

#ThirdDiv{
    height: 600px; 
    max-width: 500px; 
    background: tan;
    padding: 50px;
    border-color:black;
    border-style:double;
    border-width:2px;
    margin: 0 auto;
}
#ThirdDiv img{
    width: 400;
    height: 300;
}
